*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #1A0B2E;
}


/* header */
header{
    background-color: #1A0B2E;
   /* width: 100%; */
   
    
}
nav{
    display: flex;
    justify-content: space-between;
    max-height: 92px;
    
    padding: 16px 200px;
    align-items: center;
}
nav img{
    max-width:200px;
    max-height: 32px;
    /* text-align: center; */
}
/* nav ul {
    display: flex;
    align-items: center;
    gap: 32px;
    /* text-decoration: none; */
     


/* nav h1{
    font-size: 50px;
    font-weight: 700;
    /* color: linear-gradient(to right,#FB6741,#DB489F); */
    

/* nav h1 .color-change{
    color: #DB489F;
} */
nav .menu{
    display: flex;
    align-items: center;
    gap: 32px;
    /* text-decoration: none; */
     list-style-type: none;

  

}
nav li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}
nav .btn,.banner-btn{
    background: linear-gradient(to top right,#F7E93F ,#FB09B4 ,#9100F8 );
    padding: 12px 16px;
    color: #FFFFFF;
    border-radius: 10000px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}
nav >span{
    display:none;
}

/* banner */
#banner{
    /* background-color: #1A0B2E; */
    background: url("/B13-A02-TechWave/assets/hero-bg.png"),#1A0B2E;
    height: 760px;
    /* width: 100%; */
     background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   justify-items: center;
   text-align: center;
   padding-top: 100px;
   align-items: center;
    
}
#banner .image{
     background-image: url("B13-A02-TechWave/assets/hero-circle.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 350px;
   height: 350px; 
   margin-bottom: 40px;
    
    
}
#banner  .badge{
    background-color: #00FF88;
    border: none;
    border-radius: 1000px;
    padding: 8px 16px;
    color: #1A0B2E;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 3px 27px 0 #00FF88;
    position: absolute;
    /* margin-right: -280px; */
    margin-top: -368px;
    margin-left: 73px;
    /* margin-bottom: 22px; */
}
#banner .banner-container h2{
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 8px;
}
p,.heading p,.number p,.card-section p,.guest-container p{
    font-size: 16px;
    color: #ffffff8d;
    line-height: -10px;
    margin-bottom: 24px;
    opacity: 0.6;
}
.main-button{
    display: flex;
    /* padding-top: 101px; */
    
}
.btn-primary{
    padding: 12px 16px;
    color: #00FF88;
    border-radius: 10000px;
    border-color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
    background: transparent;
    margin-left: 8px;
}

/* about */
#about{
    background-color: #1A0B2E;
    width: 100%;
}
.about-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
   justify-items: center;
   text-align: center;
   padding: 120px;
}
.heading h2{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    padding-top: 50px;
    margin-bottom: 16px;
}
#about .number{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    /* justify-content: space-between; */
    gap: 80px;
    padding-top: 80px;
    /* width: 100%; */
}
.number h2{
    color: #00FF88;
    margin-bottom: 16px;
    font-size: 3rem;
}

/* choice */
#choice{
    background-color: #230E3D;
    
    width: 100%;
}
.choice-container{
    padding: 120px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-items: center;
    /* text-align: center; */
}
.choice-container h2,#featured h2,#guest h2{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
}
.card-section>*{
    /* border:1px solid #FFFFFF; */
    background-color: #351165;
    border-radius: 40px;
    padding: 40px;
    /* justify-items: center; */

}
.card-section h3{
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 16px;
}
.card-section{
    display: grid;
    padding-top: 40px;
    /* justify-items: center; */
    gap: 30px;
    grid-template-areas: 
    "Premium  Mobile Mobile Mobile Mobile"
    "Premium Global Global Global Global"
    "Exclusive Exclusive Exclusive Exclusive Rich"
    ;
}
.card-1{
    grid-area: Premium;
    padding-top: 107px;
}


.card-2{
    grid-area: Mobile ;
    /* width: 750px; */
}
.card-3{
    grid-area: Global ;
    /* width: 750px; */
}
.card-4{
    grid-area: Exclusive ;
    width: 750px;
    height: 273px;
}
.card-5{
    grid-area: Rich ;
    width: 380px;
    height: 273px;
}

/* featured */
#featured,#guest{
    background-color: #1A0B2E;
    padding: 120px 200px;

   
}
#featured .title{
    text-align: center;
}
.cards-container{
    gap: 30px;
    display: flex;
    justify-content: center;
}
.cards{
    width: 380px;
    /* border: 1px solid red; */
    /* border: #1A0B2E; */
    border-radius: 15px;
    background-color:#250D44;
    margin-top: 40px;
}
.cards .details{
    padding: 0 24px 24px 24px;
}
.details .duration p{
    display: flex;
    gap: 5px;
    /* justify-content: center; */
    ;
}
.cards iframe{
    width: 100%;
    margin-bottom: 24px;
    /* border: #1A0B2E; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.cards h3{
    font-size: 24px;
    /* text-align: center; */
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}


/* card */

.guest-container{
    width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    gap: 24px;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 40px;
}
.guest-container h3{
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.guest-container p{
    margin-bottom: 16px;
}
.guest-container .icon{
    background-color: #533C72;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: contain;
    padding: 8px;
    
}
.icon-container{
    display: flex;
    gap: 5px;
}
.youtube{
    padding: 10px;
}
footer{
    padding: 120px 200px;
    background: url("B13-A02-TechWave/assets/footer-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-items: center;
    align-items: center;
    /* text-align: center; */
}
.footer-icon{
    /* padding-top: 120px; */
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 32px;
    margin-bottom: 32px;
}
/* .footer-img{
    justify-content: center;
    margin-left: 50px;
} */
 .footer-img h1{
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
 }
 .color-change{
    color: #FB09B4;
 }
.footer-container .copyright{
    text-align: center;
}
.footer-icon p{
    display: flex;
    gap: 10px;
    
    margin-top: 32px;
}

 

@media screen and (max-width:576px){
    body{
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    #banner{
        background: url("B13-A02-TechWave/assets/hero-bg.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    #banner .image{
     background-image: url("B13-A02-TechWave/assets/hero-circle.png"); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    width: 250px;
   
   margin-top: 60px;
   margin-bottom: 20px;
    }
    #banner  .badge{
    background-color: #00FF88;
    border: none;
    border-radius: 1000px;
    padding: 8px 16px;
    color: #1A0B2E;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 3px 27px 0 #00FF88;
    position: absolute;
    /* margin-right: -280px; */
    margin-top: -308px;
    margin-left: 73px;
    /* margin-bottom: 22px; */
}
    #banner img{
        width: 100px;
    }
    nav .menu,nav .btn{
        display: none;
    }
     nav{
        /* width: 440px; */
        padding: 16px 20px;
        display: flex;
        gap: 54px;
        justify-content: space-between;
    }
     nav>span{
    margin-right: 10px;
    display: inline;
}
    
    
     
     nav .image{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between ;
        gap: 80px;
        width: 100%;
        /* margin: 0 !important; */
     } 
     .about-container p{
        font-size: 1rem;
       
}
    .heading h2{
        font-size: 2rem;
        white-space:none;
    }
    
     #about .number{
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
     }
     .card-section>*{
        max-width: 400px;
        max-height: 287px;
     }
       .card-section{
       
        display: grid;
        /* width: 100%; */
        grid-template-areas: 
        "Premium"
        "Mobile"
        "Global"
        "Exclusive"
        "Rich"
    ;
    justify-content: center;
      }
      .card-1{
            padding-top: 20px;

      }  
      .card-4{
        padding: 30px;
        height: 311px;
      }
      .card-5{
        width: 500px;
      }
      .cards-container{
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.guest-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 100%; */
    align-items: center;
    width: 400px;
    height: 486px;
    text-align: center;
    margin-left: -150px;
}
.icon-container{
    justify-content: center;
}
#guest h2{
    white-space:nowrap ;
    margin-left: -120px;
}
#featured .title h2{
    margin-left: -140px ;
    white-space: nowrap;
}
footer{
    background: url("B13-A02-TechWave/assets/footer-bg.png");
    background-size: 100% 90%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px;
    width: 100%;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    

   
} 
.footer-icon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
    margin-left: 50px;
    max-width: 200px;
    max-height: 300px;
    
}
.footer-icon p{
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    /* margin-left: 40px; */
}
/* .footer-img{
    padding-top: 0px;
    width: 100%;
    margin-left: 20px;
    /* height: auto; */
*/

.footer-container .copyright{
    padding-bottom: 10px;
}
}