*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
body{
    
}
/* header */
header{
    background-color: #1A0B2E;
   width: 100%;
   
    
}
nav{
    display: flex;
    justify-content: space-between;
    max-height: 92px;
    
    padding: 16px 200px;
    align-items: center;
}
nav img{
    max-width:200px;
    max-height: 32px;
    /* text-align: center; */
}
nav ul {
    display: flex;
    align-items: center;
    gap: 32px;
    /* text-decoration: none; */
     list-style-type: none;

  

}
nav li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}
.btn{
    background: linear-gradient(to top right,#F7E93F ,#FB09B4 ,#9100F8 );
    padding: 12px 16px;
    color: #FFFFFF;
    border-radius: 10000px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}
/* banner */
#banner{
    /* background-color: #1A0B2E; */
    background: url("/B13-A02-TechWave/assets/hero-bg.png"),#1A0B2E;
    height: 760px;
     background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   justify-items: center;
   text-align: center;
   padding-top: 100px;
   align-items: center;
    
}
#banner .image{
     background-image: url("B13-A02-TechWave/assets/hero-circle.png"); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 350px;
   height: 350px; 
    
    
}
#banner .banner-container h2{
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 8px;
}
p{
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.main-button{
    display: flex;
    
}
.btn-primary{
    padding: 12px 16px;
    color: #00FF88;
    border-radius: 10000px;
    border-color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
    background: transparent;
    margin-left: 8px;
}